SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_SERVICE_KEY=
SUPABASE_DB_PASSWORD=

GROQ_API_KEY=
GROQ_MODEL=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

JWT_SECRET=
JWT_ALGORITHM=
JWT_EXPIRE_MINUTES=

FIREBASE_PROJECT_ID=
